*.crt*   filter=git-crypt diff=git-crypt
*.key*   filter=git-crypt diff=git-crypt
*.pem*   filter=git-crypt diff=git-crypt
*_rsa*   filter=git-crypt diff=git-crypt
*.rsa*   filter=git-crypt diff=git-crypt
