###
## ignore testing
###
testing

###
## playbook directories
###
playbooks/*
!playbooks/apps
!playbooks/server
!playbooks/utils

###
## globally ignore
###
*.retry
.logintask
.directory
.save
.vagrant
.DS_Store
__pycache__
docker-compose/*
!docker-compose/.gitkeep

screenshot*.png

###
## this repo should not contain secret data
## so we'll ignore .git-crypt
###
.git-crypt
