---

http:

  {% if traefik_provider_http_additionals is defined -%}
  {{ traefik_provider_http_additionals | default( [] ) | to_nice_yaml( indent=2 ) | indent( width=2, first=False ) }}{% endif %}

  middlewares:

    {% if traefik_provider_http_middlewares is defined -%}
    {{ traefik_provider_http_middlewares | default( [] ) | to_nice_yaml( indent=2 ) | indent( width=4, first=False ) }}{% endif %}

    forcehttps:
      redirectScheme:
        permanent: true
        scheme: 'https'

    traefikauth:
      basicAuth:
        users:
          {#
           # adjust at least your password – for example by this docker command ('\'' needed for single quote escape ...):
           # $$$   docker run -it --rm ubuntu bash -c 'apt-get update > /dev/null; apt-get install -y apache2-utils > /dev/null; echo; htpasswd -nbB '\''admin'\'' '\''Def12345'\'''
           #
           #}{% for user, passhash in traefik_users.items() %}- '{{ user }}:{{ passhash }}'
          {% endfor %}

    security:
      headers:
        frameDeny:            {{ override_traefik_http_security_headers.frameDeny            | default( traefik_http_security_headers.frameDeny ) }}
        sslRedirect:          {{ override_traefik_http_security_headers.sslRedirect          | default( traefik_http_security_headers.sslRedirect ) }}
        contentTypeNosniff:   {{ override_traefik_http_security_headers.contentTypeNosniff   | default( traefik_http_security_headers.contentTypeNosniff ) }}
        # HSTS
        stsIncludeSubdomains: {{ override_traefik_http_security_headers.stsIncludeSubdomains | default( traefik_http_security_headers.stsIncludeSubdomains ) }}
        stsPreload:           {{ override_traefik_http_security_headers.stsPreload           | default( traefik_http_security_headers.stsPreload ) }}
        stsSeconds:           {{ override_traefik_http_security_headers.stsSeconds           | default( traefik_http_security_headers.stsSeconds ) }}

tls:

  options:

    default:

      minVersion: {{ override_traefik_tls_default_options.minVersion | default ( traefik_tls_default_options.minVersion ) }}

      cipherSuites:
        {% for suite in override_traefik_tls_default_options.cipherSuites | default ( traefik_tls_default_options.cipherSuites ) %}- {{ suite }}
        {% endfor %}

      curvePreferences:
        {% for curve in override_traefik_tls_default_options.curvePreferences | default ( traefik_tls_default_options.curvePreferences ) %}- {{ curve }}
        {% endfor %}

      sniStrict: {{ override_traefik_tls_default_options.sniStrict | default ( traefik_tls_default_options.sniStrict ) }}

{% if traefik_provider_additionals is defined -%}
{{ traefik_provider_additionals | default( [] ) | to_nice_yaml( indent=2 ) }}{% endif %}

...
