[Unit]
{# ensure Docker starting after network is online since network
 # shares are used from time to time for binds and mounts #}
After=
After=network-online.target firewalld.service containerd.service

{# set corrected Docker root #}
{% if docker_root is defined %}
[Service]
{# we need to clear the config var first to avoid duplicates ... #}
ExecStart=
ExecStart=/usr/bin/dockerd --data-root {{ docker_root }} -H fd:// --containerd=/run/containerd/containerd.sock
{% endif %}
