// Automatically upgrade packages from these (origin:archive) pairs
Unattended-Upgrade::Allowed-Origins {
	"${distro_id}:${distro_codename}-security";
	{{ unattended_upgrade_allowed_origins | default('') }}
};

// List of packages to not update
Unattended-Upgrade::Package-Blacklist {
	{{ unattended_upgrade_package_blacklist | default('') }}
};

{% if unattended_upgrade_mail is defined %}
Unattended-Upgrade::Mail "{{ unattended_upgrade_mail }}";
Unattended-Upgrade::MailOnlyOnError "{{ unattended_upgrade_mail_only_on_error | default('true') }}";
{% endif %}
