#!/bin/bash

# IDEA: https://stephenreescarter.net/mosh-and-ufw-without-1000-open-ports/
{% if mosh.debug is defined and mosh.debug | bool %}
LOGFILE="{{ mosh.logfile }}"
touch $LOGFILE
{% endif %}

# this script is to run as sudo – so do not forget to
# allow passwordless sudo for every ssh user!
if [[ $EUID -ne 0 ]]; then
   exit 1
fi

# only run port opening if not running a cleanup job
if [ -z ${0+x} ] || [ "$0" != "cleanup" ]; then

    # Load active ports
    PORTS=`{{ lsof_path }} -i | grep mosh-serv | cut -f2 -d":"`
    STATUS=`{{ ufw_path }} status`

    # Add Rules for new ports
    for PORT in $PORTS; do
        echo $STATUS | grep "${PORT}/udp" > /dev/null
        if [ $? -gt 0 ]; then
            {% if mosh.debug is defined and mosh.debug | bool %}echo $(date -u) " - Allowing new port ${PORT}" >> $LOGFILE
{% endif %}
            {{ ufw_path }} allow "${PORT}/udp" > /dev/null
        fi
    done
fi

# Remove closed ports
PORTS=`{{ ufw_path }} status | grep "^60.../udp" | cut -f1 -d"/" | sort | uniq`
OPEN=`{{ lsof_path }} -i | grep mosh-serv`

for PORT in $PORTS; do
    echo $OPEN | grep $PORT > /dev/null
    if [ $? -gt 0 ]; then
        {% if mosh.debug is defined and mosh.debug | bool %}echo $(date -u) " - Removing closed port ${PORT}." >> $LOGFILE
{% endif %}
        {{ ufw_path }} delete allow "${PORT}/udp" > /dev/null
    fi
done
